build/
*~
*.so
*.dll
*.dll.a
*.exe
*.clang_tidy
*.pc
*.a
inc/fastuidraw/gl_backend/ngl_gl.hpp
src/fastuidraw/gl_backend/ngl_gl.cpp
inc/fastuidraw/gl_backend/ngl_gles3.hpp
src/fastuidraw/gl_backend/ngl_gles3.cpp
inc/fastuidraw/ngl_egl.hpp
src/fastuidraw/ngl_egl.cpp

*-GL-release
*-GL-debug
*-GLES-release
*-GLES-debug
*-GL-release-static
*-GL-debug-static
*-GLES-release-static
*-GLES-debug-static
fastuidraw-config.nodir
fastuidraw-config
