*.o
*.d
*.dd
*~
*.glsl.cpp
*.so
*.dll
*.dll.a
*.exe
*.clang_tidy
inc/fastuidraw/gl_backend/ngl_gl.hpp
src/fastuidraw/gl_backend/ngl_gl.cpp
inc/fastuidraw/gl_backend/ngl_gles3.hpp
src/fastuidraw/gl_backend/ngl_gles3.cpp
string_resources_cpp/

*-GL-release
*-GL-debug
*-GLES-release
*-GLES-debug
fastuidraw-config
