build/
*~
*.so
*.dll
*.dll.a
*.exe
*.clang_tidy
*.pc
inc/fastuidraw/gl_backend/ngl_gl.hpp
src/fastuidraw/gl_backend/ngl_gl.cpp
inc/fastuidraw/gl_backend/ngl_gles3.hpp
src/fastuidraw/gl_backend/ngl_gles3.cpp

*-GL-release
*-GL-debug
*-GLES-release
*-GLES-debug
fastuidraw-config.nodir
fastuidraw-config
